<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="body">
    <main class="container mt-5">
      <h1>Список рыб России и запрет на ловлю</h1>

      <input
        type="text"
        id="searchInput"
        placeholder="Поиск по рыбам"
        class="form-control"
      />

      <ul id="fishList">
        <li><strong>Лосось - </strong> июль.</li>
        <li><strong>Треска - </strong> февраль.</li>
        <li><strong>Стерлядь - </strong> апрель.</li>
        <li><strong>Окунь - </strong> июнь.</li>
        <li><strong>Карась - </strong> июль.</li>
        <li><strong>Сазан - </strong> июнь.</li>
        <li><strong>Щука - </strong> апрель.</li>
        <li><strong>Сом - </strong> май.</li>
        <li><strong>Судак - </strong> апрель.</li>
        <li><strong>Голец - </strong> февраль.</li>
        <li><strong>Сиг - </strong> апрель.</li>
        <li><strong>Севрюга - </strong> ноябрь.</li>
        <li><strong>Белуга - </strong> март.</li>
        <li><strong>Белорыбица - </strong> март.</li>
        <li><strong>Лещ - </strong> май.</li>
        <li><strong>Плотва - </strong> июль.</li>
        <li><strong>Язь - </strong> июль.</li>
        <li><strong>Линь - </strong> май.</li>
        <li><strong>Горбуша - </strong> июль.</li>
        <li><strong>Кета - </strong> июль.</li>
      </ul>

      <script src="../js/list.js"></script>
    </main>
  </body>
</html>
